In [ ]:
import pandas as pd
import sqlite3
import zipfile
from  pandasql import sqldf

In [ ]:
tn_movie = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')



tn_movie = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
tn_movie

# remove all $ and commas for domestic gross, worldwide gross, and production budget

tn_movie["production_budget"]=tn_movie["production_budget"].map(lambda x: int(x.replace(',', '').replace('$', '')))
tn_movie["domestic_gross"]=tn_movie["domestic_gross"].map(lambda x: int(x.replace(',', '').replace('$', '')))
tn_movie["worldwide_gross"]=tn_movie["worldwide_gross"].map(lambda x: int(x.replace(',', '').replace('$', '')))


#Add ROI column
tn_movie["ROI"]= (tn_movie["worldwide_gross"]- tn_movie["production_budget"])/    \
         tn_movie["production_budget"]

#Add start year as int column

tn_movie["start_year"] = tn_movie["release_date"].map(lambda x: int(x[-4:]))

#eliminate any worldwide gross columns that = 0

tn_movie = tn_movie [tn_movie .worldwide_gross != 0]

tn_movie

In [ ]:

conn = sqlite3.connect('zippedData/im.db')
cur= conn.cursor()
# cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""").fetchall()

In [ ]:
q1 = """SELECT * FROM movie_basics ;"""
dfzip=pd.read_sql(q1, conn)
imdb_basics = pd.merge(left= dfzip ,right = tn_movie, left_on=["start_year","primary_title"], right_on=["start_year","movie"], \
                          how = 'inner')
imdb_basics

In [ ]:
imdb_basics=imdb_basics.dropna(subset=['genres'])

In [ ]:
imdb_basics.genres = imdb_basics.genres.str.split(',')