#  Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

tnmovie_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

# Sqlite zipfile

In [9]:
conn = sqlite3.connect('zippedData/im.db')
cur = conn.cursor()
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""").fetchall()
q1 = """SELECT * FROM movie_basics ;"""
q2 = """ SELECT * FROM directors """
q3 = """SELECT *  FROM known_for """
q4 = """SELECT *  FROM movie_akas """
q5 = """ SELECT *  FROM movie_ratings"""
q6 = """ SELECT *  FROM persons"""
q7 = """  SELECT * FROM principals"""
q8 = """  SELECT * FROM writers"""

In [10]:
q1 = """SELECT * FROM movie_basics ;"""
dfzip=pd.read_sql(q1, conn)
imdb_basics = imdb_basics.merge(tnmovie_df, left_on = 'primary_title', right_on = 'movie', how = 'inner')
imdb_basics

NameError: name 'imdb_basics' is not defined

In [ ]:
imdb_basics.dropna(subset=['genres'])

In [ ]:
imdb_basics.genres = imdb_basics.genres.str.split(',')

# The Number Data Set

In [ ]:
tnmovie_df.head()

In [ ]:
tnmovie_df.info()